title Domhnall's Portfolio
link(href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet")
link(href="css/index.css", rel="stylesheet")
link(rel="icon" href="img/icon.png")

.splashscreen
  .content
    p.copyright Domhnall's Portfolio
    p.branding Welcome
  .inner
    .inner-bg
    .particles
      span
      span
      span
    - var n = 0;
    while n < 112
      .box-container
        .box
          .top
          .bottom
          .left
          .right
      - n++

.menu 
    img(src="img/menu.gif")
    .list
        a(href="https://github.com/DomhnallBoyle?tab=repositories", target="_blank", style="text-decoration:none") Personal Projects <br>
        a(href="https://drive.google.com/file/d/1y8jO4PgUhOE52w8B3Iu9i7CmnN7mAZYA/view?usp=sharing", target="_blank", style="text-decoration:none") Research <br>
        a(href="https://www.youtube.com/watch?v=qRfifZNn9qQ", target="_blank", style="text-decoration:none") Speech Recovery Demo <br>
        a Blog
    .footer

script(src='js/home.js')
