title Domhnall's Portfolio
link(href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet")
link(href="css/index.css", rel="stylesheet")
link(rel="icon" href="img/icon.png")

.screen
  .content
    p.copyright Domhnall's Portfolio
    p.branding Welcome
  .inner
    .inner-bg
    .particles
      span
      span
      span
    - var n = 0;
    while n < 112
      .box-container
        .box
          .top
          .bottom
          .left
          .right
      - n++

script(src='js/home.js')
